.home-main-2{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    /* border: 1px solid gray; */
    grid-gap: 20px;
    margin: 5%;
}
.home-main-3{
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    padding: 5px;
    
}
.home-main-3:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: rgb(240, 238, 238);
}
.home-main-3 > div{
    width: 100% auto;
    height: 250px;
    /* border: 1px solid red; */
}
.home-img > img{
    width: 100%;
    height: 100%;
}
.home-main-4 > div > h4{
    margin-top: 4px;
    /* margin: 0px; */
}
.home-main-5{
    overflow:scroll;
    height: 210px;
    overflow-x: hidden;
}
.home-link-1{
    text-decoration: none;
}